{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block content %} 
<div class="jumbotron jumbotron-fluid bg-dark text-white my-5">
    <div class="container">
      <div class="row">
          <div class="col">
            <h1 class="display-4">Tingkatkan Kemampuan dengan Mengikuti Seminar IT</h1>
            <p class="lead">Pengen lebih kompeten? Mau ngembangin diri tanpa pusing mikirin biaya? </p>
          </div>
      </div>
      <form action="{{ url_for('views.auth')}}">
        <button type="submit" class="btn btn-primary">Ayo Gabung</button>
      </form>
      
    </div>
  </div>


  <div class="row my-2">
    <div class="col">
        <div class="card shadow mb-3">
            <div class="card-header py-3">
                <div class="row">
                    <div class="col"><h3 class="text-primary m-0 font-weight-bold">Daftar Seminar</h3></div>
                    <div class="col" style="text-align: right;">
                        {% if user.level == 1%}
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalTambah">Tambah</button>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                    {% with messages = get_flashed_messages(with_categories=true) %} 
                    {% if messages %} 
                        {% for category, message in messages %}
                            {% if category == 'error' %}
                            <div class="alert alert-danger alert-dismissable fade show" role="alert">
                                    {{ message }} 
                                <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                                {% else %}
                            <div class="alert alert-success alert-dismissable fade show" role="alert">
                                    {{ message }} 
                                <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                <table class="table table-hover table-borderless">
                    <thead>
                      <tr>
                        {% if user.level == 1%}
                        <th scope="col">ID</th>
                        {% endif %}
                        <th scope="col">Event</th>
                        <th scope="col">Pendaftaran Dibuka</th>
                        <th scope="col">Pendaftaran Terakhir</th>
                        <th scope="col">Detail Event</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% set x = user_event %}
                        {% for rows in events %}
                      <tr>
                        {% if user.level == 1%}
                            <td>{{ rows.id }}</td>
                        {% endif %}
                        <td>{{ rows.title }}</td>
                        <td>{{ rows.datestart }}</td>
                        <td>{{ rows.dateclose }}</td>
                        <td>{{ rows.detail }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
  </div>

{% endblock %}